*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
  font-weight: 300;
}

body, button{
  background-color: #e6e6e6;
}

p, h3{
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

button{
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
  border-right: none;
  border-left: none;
  padding: 7px;
  width: 7vw;
}

.main-container{
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  .display-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vh;
    background-image: url('../images/totoro-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vw;
    .display-bg{
      height: 52vh;
      width: 22%;
      overflow: hidden;
      .movie-img{
        height: 50%;
        width: auto;
        z-index: 1;
        position: absolute;
      }
      .wave-bg{
        height: 100%;
        width: auto;
        margin-bottom: 55%;
        margin-left: -50%;
      }
      }
    }
    .display-text{
      margin-top: 3vh;
      display: flex;
      flex-direction: column;
      gap: 3vh;
      width: 50%;
      padding: 0 40px;
    }
  }

.movie-page-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  img{
    height: 50vh;
  }
}

.display-container:nth-child(2),
.display-container:nth-child(4){
  flex-direction: row-reverse;
}