*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
  font-weight: 300;
}

body, button{
  background-color: #e6e6e6;
}

p, h3{
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

button{
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
  border-right: none;
  border-left: none;
  padding: 7px;
  width: 7vw;
}

.main-container{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  gap: 120px;
  .display-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 10vh;
    width: 80vw;
    .totoro-bg{
      background-image: url('../images/totoro-bg.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      // Position
      position: absolute;
      height: 110%;
      width: 460px;
      top: 5%;
      right: -20%;
      // Mirror/flip image
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      //Opacity
      opacity: 10%;
    }
    }
    .display-text{
      margin-top: 3vh;
      display: flex;
      flex-direction: column;
      gap: 3vh;
      width: 50%;
      padding: 0 40px;
    }
  }

.movie-page-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  img{
    height: 50vh;
  }
}

//Layered images: movie poster - wave image
.display-bg{
  position: relative;
  height: 400px;
  width: 300px;
  overflow: hidden;
  .movie-img{
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    //display: none;
  }
  .wave-bg{
    height: 100%;
    z-index: 0;
    top: 10px;
    left: 10px;
    position: absolute;
  }
}

// tablet size up
@media screen and (min-width: 481px){

.display-container:nth-child(2),
.display-container:nth-child(4){
  flex-direction: row-reverse;
  .totoro-bg{
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    top: 5%;
    left: -20%;
  }
}
}
